*{
    margin: 0;
    padding: 0;
    border: border-box;
    
}
.navbar
{
    height: 60px;
    background-color: #0f1111;
    border: 2px solid transparent;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.logo_navbar{
    height: 3rem;
    display: flex;
}
.logo_navbar:hover{
    border: 2px solid white;
}
.in{
    padding-top: 1.23rem;
}
.icon{
    display: flex;
    
}
.india{
    font-family: Arial, Helvetica, sans-serif;
}
.address{
    height: 3.4rem;
    width: 10%;
    display: flex;
    align-items: center;
}
.address:hover{
    border: 2px solid white;
}
.locationimg{
    filter: invert(100%);
    padding-top: 1.12rem;
}
.addresstext{
    font-size: 80%;
}
.seladd{
    white-space: nowrap;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    height: 2.674rem;
    width: 50%;
    border-radius: px;
    background-color: pink;
}
.nav-search:hover{
    border: 2px solid orange;
}
.select{
    height: 2.67rem;
    background-color: #f3f3f3;
    width: 8%;
    display: flex;
    text-align: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search{
    height: 2.67rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 1%;
    border: none;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(255, 166, 0, 0.664);

}
.language{
    margin-left: 10px;
    display: flex;
    height: 50px;
    align-items: center;

}
.en{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    height: 18px;
    color: #f3f3f3;
    background-color: #0f1111;
    border: none;
}
.language:hover{
    border: 2px solid white;
    
}

.sign{
    height: 50px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    
}
.acc{
    color: white;
    background-color: #0f1111;
    
    border: none;
}
.hello{
    margin-left: 3px;
    font-size: 0.9rem;
    margin-top: 5px;
}
.sign:hover{
    border: 2px solid white;
}
.return{
    height: 50px;
    align-items: center;
}
.return:hover{
    border: 2px solid white;
}
.p{
    font-size: 0.85rem;
    
}
.cart{
    display: flex;
    height: 3rem;
    align-items: center;
}
.cart:hover{
    border: 2px solid white;
}
.cart-symbol{
    margin-top: 4px;
}
.c{
    margin-top: 10;
    
}
.main{
    height: 40px;
    background-color: rgba(1, 19, 35, 0.922);
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}
.main2{
    display: flex;
    width: 90%;
}
.info{
    display: flex;
    height: 40px;
    align-items: center;
    margin-left: 10px;
}
.m{
    padding: 0px 0px 0px 5px;
    align-items: center;
    margin-bottom: 2px;
    text-transform: capitalize;
    font-size: 0.9rem;

}
.info:hover{
    border: 2px solid white;
}
.deals{
    display: flex;
    align-items: center;
}
.amaz-mini-tv{
    margin: 5px 0px 6px;
    padding: 8px 9px;
    font-size: 0.9rem;
    white-space: nowrap
}
.amaz-mini-tv:hover{
    border: 2px solid white;
}
.amz{
    text-decoration: none;
    color: white;
}
.sell{
    margin: 5px 0px 6px;
    padding: 8px 9px;
}
.sell:hover{
    border: 2px solid white;
}
.mob{
    margin: 5px 0px 6px;
    padding: 8px 9px;
}
.mob:hover{
    border: 2px solid white;
}
.releases{
    margin: 5px 0px 6px;
    padding: 8px 9px;
    white-space: nowrap
}
.releases:hover{
    border: 2px solid white;
}

.cust{

    display: flex;
    text-transform: capitalize;
    align-items: center;
    margin: 5px 0px 6px;
    padding: 8px 9px;
    white-space: nowrap
    
}
.cust:hover{
    border: 2px solid white;
}
.registry{
    display: flex;
    border: 2px solid transparent;
    align-items: center;
    margin: 5px 0px 6px;
    padding: 8px 9px;
}
.registry:hover{
    border: 2px solid white;
}
.m{
    white-space: nowrap
}

.gift{
    display: flex;
    align-items: center;
    margin: 5px 0px 6px;
    padding: 8px 9px;
}
.gift:hover{
    border: 2px solid white;

}
.electronics{
    margin: 5px 0px 6px;
    padding: 8px 9px;
}
.electronics:hover{
    border: 2px solid white;

}
.sell{
    display: flex;
    text-transform: capitalize;
    align-items: center;
    margin: 5px 0px 6px;
    padding: 8px 9px;
}
.sell:hover{
    border: 2px solid white;
}
.prime{
    display: flex;
    align-items: center;
    background-color: rgba(1, 19, 35, 0.922);
    color: white;
    margin: 5px 0px 6px;
    padding: 8px 9px;
    border: none;
}
.prime:hover{
    border: 2px solid white;
}

.kitchens{
    margin: 5px 0px 6px;
    padding: 8px 9px;
    white-space: nowrap
    
}
.kitchens:hover{
    border: 2px solid white;
}

.herosection{
    height: 40rem;
    display: flex;
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img22/Unrec/TallHero_3000X1200_Unrec._CB593464763_.jpg);
    background-size: cover;
}
/* row 1 */
.row1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -25%; 
}
.box1{
    height: 26rem;
    width: 23%;
    font-size: 0.95rem;
    background-color: white;
    border: 2px solid white; 
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    
    
}
.box2{
    height: 26rem;
    width: 23%;
    font-size: 0.95rem;
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
   
    
}
.box3{
    height: 26rem;
    width: 23%;
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    
}   
.box4{
    height: 26rem;
    width: 23%;
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
}
.mox{
    padding-top: 0.3rem;
}
.menu{
    padding-top: 0.3rem;
}
.automobile-{
    padding-left: 2%;
    padding-top :0.6rem;
    
}
.automobiles{
    padding-left: 2%;
    padding-top :0.6rem;
    
}
.space{
    height: 20px;
    background-color: rgb(7, 169, 169);
}
.essentials{
    height: 14rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.essentials-{
    height: 14rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.seemore{
    padding-top: 1.4rem;
    
    color: rgb(6, 121, 121);
}
.explore{
    color: rgb(6, 121, 121);
    padding-left: 0.8rem;
    

    
}
.exploresk{
    color: rgb(6, 121, 121);
    padding-left: 0.8rem;
    padding-top: 4.5rem;
}
.essentext{
    font-size: 0.9rem;
}
/* row2 */
.row2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(7, 169, 169);
}
.gx1{
    height: 26rem;
    width: 23%;
    font-size: 0.95rem;
    background-color: white;
    border: 2px solid white; 
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 0.7rem;
}
.exploress-{
    color: rgb(6, 121, 121);
    padding-left: 0.8rem;
    padding-top: 4%;
    padding-right: 70%;
}
.gx2{
    height: 26rem;
    width: 23%;
    font-size: 0.95rem;
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 0.7rem;
    
}
.gx3{
    height: 26rem;
    width: 23%;
    font-size: 0.95rem;
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 0.7rem;
}   
.gx4{
    height: 26rem;
    width: 23%;
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 0.7rem;
}
h2{
    font-size: 1.3rem;
}
/* media queries */
@media (min-width:750px) and (max-width:1050px){
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .logo_navbar{
        height: 3rem;
        width: 9%;
    }
    .logoimg{
        height: 2rem;
        width: 3.9rem;
        padding-top: 0.7rem;
    }
    .in{
        font-size: 48%;
        margin-bottom: 1.2rem;
    }
    .address{
        width: 12.5%;
        padding-left: -1rem;
    }
    .locationimg{
        height: 0.67rem;
        padding-top: 0.8rem;
       
    }
    .addresstext{
        font-size: 46%;
       margin-left: -0.rem;
       
    }
    .seladd{
        font-size: 0.54rem;
    }
    .nav-search{
       
        width: 38%;
        
        
    }
    .select{
        width: 30%;
    }
    .all{
        font-size: 0.1rem;
    }
    .search{
        font-size: 0.7rem;

    }
    .search-icon{
        width: 25%;
    }
    .ind-{
        height: 1rem;
    }
   .en{
    font-size: 0.87rem;
   }
   .hello{
    font-size: 0.6rem;
    padding-top: 0.3rem;
   }
   .sign{
    display: flex;
    flex-direction: column;
   }
   .acc{
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
   }
   .return{
    font-size: 0.7rem;
    padding-top: 0.9rem;
   }
   .m{
    font-size: 0.7rem;
   }
   .img{
    width: 10%;
   }
   h2{
    font-size: 0.78rem;
   }
   .herosection{
    width: 50rem;
    height: 40rem;
    background-size: contain;
   }
   /* workforboxes */
    
   .box1{
    height: 17rem;
    margin-top: -20rem;
   }
   .box2{
    height: 17rem;
    margin-top: -20rem;
   }
   .box3{
    height: 17rem;
    margin-top: -20rem;
   }
   .box4{
    height: 17rem;
    margin-top: -20rem;
   }
   .lap{
    height: 11rem;
   }
   .pehli{
    width: 4rem;
    height: 3rem;
   }
   .bx3text{
    font-size: 0.6rem;
   }
   .exploresk{
    margin-top: -6.5rem;
   }
   .essentext{
    font-size: 0.6rem;
   }
   .gx1{
    height: 19rem;
    margin-top: -1.5rem;
   }
   .gx2{
    height: 19rem;
    margin-top: -1.5rem;
   }
   .gx3{
    height: 19rem;
    margin-top: -1.5rem;
   }
   .gx4{
    height: 19rem;
    margin-top: -1.5rem;
   }
}